<% @place.place_images.each do |image| %>
  <%= image_tag(image.image_url, class: 'photo', size: '500x500') %>
<% end %>

<h1><%= @place.name %></h1>

<p><strong>Address:</strong> <%= @place.address %></p>
<p><strong>Rating:</strong> <%= @place.rating_avg %></p>
<p><strong>Phone Number:</strong> <%= @place.phone_number %></p>
<p><strong>Opening Hours:</strong> <%= simple_format(@place.opening_hours) %></p>
<p><strong>Website:</strong> <%= link_to @place.website, @place.website, target: '_blank' %></p>



<%= link_to 'Back to Places', places_path %>